<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>惠多一点</title>
</head>
<body>
<div style="width: 100%; margin: 0 auto;background-color: #F0F0F0;">
    <img style="width: 100%;" src="https://ws3.sinaimg.cn/large/005BYqpgly1g0qulzss9hj30rs111b29.jpg">
    <p style="font-size: 36px;color: red;margin-top: -1px;text-align:center;"><b>爆款推荐</b></p>
    <a href="https://hdyd.wc2688.com/weixinpl/mshop/product_detail.php?customer_id=ADJQaw==&pid=17">
    <div style="width: 48%; margin: 0 auto;float: left;background-color: white;margin-top: -30px;" >
        <img src="https://ws3.sinaimg.cn/large/005BYqpgly1g0quyzxhqvj30co0co44g.jpg">
        <p style="font-size: 38px">悠酷A7智能机器人 </p>
        <div style="font-size:42px;text-align:center; margin-left: 1%;color: red; float: left;">￥589</div><div  style="font-size:34px;text-align:center; margin-right:20px; margin-top: 6px; float: right; background-color:red;width: 30%;color: aliceblue">马上抢</div>
    </div>
    </a>
    <a href="https://hdyd.wc2688.com/weixinpl/mshop/product_detail.php?customer_id=AjBaYQ==&pid=15">
    <div style="width: 48%; margin: 0 auto;float: left;background-color:white;margin-left: 1%;margin-top: -30px;">
        <img src="https://ws3.sinaimg.cn/large/005BYqpgly1g0qv164uygj30co0cojva.jpg">
        <p style="font-size: 38px;">悠酷A6智能机器人 </p>
        <div style="font-size:42px;text-align:center; margin-left: 1%;color: red; float: left;">￥689</div><div  style="font-size:34px;text-align:center; margin-right:20px; margin-top: 6px; float: right; background-color:red;width: 30%;color: aliceblue">马上抢</div>
    </div>
    </a>
     <a href="https://hdyd.wc2688.com/weixinpl/mshop/product_detail.php?customer_id=ADJQaw==&pid=17">
    <img style="width: 100%;margin-top: 50px" src="https://ws3.sinaimg.cn/large/005BYqpgly1g0qwnee64tj30j10cpak9.jpg">
     </a>
    <p style="font-size: 42px;color: red">悠酷A5智能机器人</p>
    <div style="font-size: 12px;margin-left: 10px;">
        <p style="color: red;font-size: 18px"><b>功能简介：</b></p>
        <p>1、直接与微信远距离、多方、亲子语音互动</p>
        <p>2、强大搜索阅读功能,随时随地知道你想要的内容</p>
        <p>3、建立家庭亲情群聊，随时随地与家人聊天互动</p>
        <p>4、中外互译，支持中文翻译到多国语言</p>
        <p>5、1-6年级同步教材，英语、数学、语文、历史名人</p>
        <p>6、十万个为什么、数学解答、天文、地理 诗歌、成语故事，京剧戏曲</p>
        <p>8、百科知识、信息查询、儿歌、海量云端内容无限使用</p>
        <p>9、DIY定制闹钟功能</p>
        <p style="color: red ;font-size: 18px"><b>外观设计理念：</b></p>
        <p>人体工学设计更方便操作,侦听级的音质体验</p>
        <p>2200毫安超大电池，待机7天到8天比同类产品待机长36%,连续使用长两倍 是国内首款为用户购买保险的机器人(电池)，为用户保驾护航</p>
        <p>独有的设计方案！触碰一下即可和小酷畅所欲言聊天,让小朋友不再孤独 使用飞机内舱ABS防弹材质，10万次的1.2米落下抗震、防摔、耐摔测试</p>
        <p>食品级硅胶材质，无毒环保，专设无屏，保护眼睛、0辐射，不伤身，保健康，胎教神器 支持内存卡扩容，让你在离线时同样可以与机器人互动</p>
    </div>
    <p style="color:#909090; font-size: 24px;text-align:center; margin-top: 200px;">店铺主页 | 个人中心 | 关注我们 | 店铺信息</p>
</div>

</body>
</html>